services:
  - type: web
    name: amdari-etl-airflow
    runtime: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile

    envVars:
      # Airflow core settings
      - key: AIRFLOW__CORE__FERNET_KEY
        sync: false          # set secret value in Render dashboard
      - key: AIRFLOW__CORE__LOAD_EXAMPLES
        value: "False"

      # Light concurrency for free tier
      - key: AIRFLOW__CORE__PARALLELISM
        value: "2"
      - key: AIRFLOW__CORE__DAG_CONCURRENCY
        value: "2"
      - key: AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG
        value: "1"
      - key: AIRFLOW__CORE__EXECUTOR
        value: "SequentialExecutor"
      - key: AIRFLOW__WEBSERVER__WORKERS
        value: "1"

      # Web UI user credentials
      - key: _AIRFLOW_WWW_USER_USERNAME
        value: "airflow"
      - key: _AIRFLOW_WWW_USER_PASSWORD
        sync: false          # set password in Render dashboard

      # Neon connection info
      - key: NEON_DB_HOST
        sync: false
      - key: NEON_DB_PORT
        value: "5432"
      - key: NEON_DB_NAME
        sync: false
      - key: NEON_DB_USER
        sync: false
      - key: NEON_DB_PASSWORD
        sync: false
      - key: NEON_DB_SSLMODE
        value: "require"
